<div class="pt-5">  
  <div class="container">  
     <div class="card login-form">
      <div class="card-body">  
            <form class="row justify-content-center mt-3">  
                <div class="col-8">  
                    <label for="exampleInputEmail1"> Username </label>  
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend1">
                        <i class = "fa fa-user"></i>
                      </span>
                    <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">  
                </div>  
                </div>
                <div class="col-8">  
                    <label for="exampleInputPassword1">Password </label>  
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">
                        <i class = "fa fa-lock"></i>
                      </span>
                    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">  
                </div>  
                </div>
                <div class="text-center pt-4">
                  <button type="submit" class="btn btn-primary">Login</button>
              </div> 
            </form>  
        </div>  
     </div>
    </div>
  </div>