<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="card">
      <h5 class="card-header">
          Log In
      </h5>
      <div class="card-content m-4">
          <form>
            <div>
                <label for="exampleInputEmail1">Username </label>
                <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend1">
                        <i class="fa fa-user"></i>
                      </span>
                  <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            <div class="mt-4 mb-4">
                <label for="exampleInputPassword1">Password </label>
                <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">
                        <i class="fa fa-lock"></i>
                      </span>
                  <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
      </div>
  </div>
</div>
