<div class="container">
  <!--<form class="row g-3">
    <div class="col-12">
      <label for="validationDefaultUsername" class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend1">
          <i class = "fa fa-user"></i>
        </span>
        <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend1" required>
      </div>
    </div>
    <div class="col-12">
      <label for="validationDefaultUPassword" class="form-label">Password</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">
          <i class = "fa fa-lock"></i>
        </span>
        <input type="text" class="form-control" id="validationDefaultUPassword"  aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>-->
</div>
